<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Music Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
</head>
<body>
    <h1>EPITECH EXPERIENCES IA</h1>
    <h3>Go to Text prediction <a href="/prediction">HERE </a></h3>
    <h4>Video:</h4>
    <video id="video" width="640" height="480" autoplay playsinline muted></video>
    <h4>Output:</h4>
    <canvas id="canvas" width="640" height="480"></canvas>
    <div id="browserflow-container"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
